:root{
    --main-color:#0594d1;
    --second-main-color:#292c2f;
    --white-color:white;
    --main-font: 'Signika', sans-serif; 
    --header-box-shadow: 0 0 4px 0px #777777;
}
.night-mode{
    --second-main-color:#fff;
    color: var(--main-color);
    --header-box-shadow: 0 0 4px 0px #777777;
    --header-bg-color:#021024;
}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:focus{
    outline: 2px dashed var(--second-main-color);
    outline-offset: 3px;
    border-radius: 8px;
}
.container{
    max-width: 1240px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.body{
    margin-top: 85px;
    color: var(--second-main-color);
    font-family: 'Signika', sans-serif; 
    font-weight: 500;
}
section{
    padding: 100px 0;
}

/* header  */

.header {
    position: fixed;
    padding: 10px 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: var(--header-bg-color);
    box-shadow: var(--header-box-shadow);
}
.header-parent-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link{
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
}
.logo-img {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
    border: 2px solid white;
}
@keyframes animate {
    0%{
    content: "html";
    }
    30%{
        content: "css";

    }
    60%{
        content: "bootstrap";

    }
    100%{
        content: "html";
    }
}
.logo-img-div::after{
    display: flex;
    content: "html";
    position: absolute;
    opacity: 0;
    animation: animate 3s ease infinite;
    max-width: 60px;
    width: 56px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px ;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    z-index: 2;
    bottom: 6.5px;
    left: 2px;
    right: 0;
    transition: all 0.7s ease;
}
.logo-img-div:hover::after{
    opacity: 1;
}
.header-title {
    color:var(--main-color);
    font-size: 18px;
}
.nav-and-button-wrapper {
    display: flex;
    align-items: center;
}
.header-ul {
    display: flex;
}
.header-li {
    list-style: none;
    position: relative;
}
.header-li :focus{
    outline: none;
}
.header-li::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 90%;
    height: 2px;
    bottom: -6px;
    left: 0;
    right: 0;
    background-color: var(--second-main-color);
    border-radius: 50px;
    transform: scaleX(0);
    transition: all 0.3s ease;
    margin-left: 5%;
}
.header-li:hover:after{
    transform: scaleX(1);
}
.header-li:not(:last-child) {
    margin-right: 15px;
}
.header-li:visited{
    margin-bottom: 1px solid black;
}
.header-link {
    text-decoration: none;
    color: var(--second-main-color);
    font-size: 15px;
    font-weight: 500;   
}
.night-mode-button {
    margin-left: 30px;
    padding: 6px 16px;
    border-radius: 10px;
    font-size: 15px;
    font-family: var(--main-font);
    border: none;
    background-color: var(--main-color);
    color: #fff;
    transition: all 0.4s ease;
    border: 2px solid var(--main-color);
}
.night-mode-button:hover{
    border: 2px solid var(--main-color);
    background-color: var(--header-bg-color);
    color: var(--main-color);
}

/* Hero section  */

.hero-section {
}
.container {
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.laptop-img-div {
    background-image: url(../images/laptop.svg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section-title {
}
.hero-section-p {
}